<mat-card *ngIf="picture">
  <mat-card-header>
    <mat-card-title>{{ picture.title }}</mat-card-title>
    <mat-card-subtitle>par {{ picture.author.displayName }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="picture.image" [alt]="picture.title" />



  <mat-card-content>
    <p>{{ picture.description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <app-like-button 
      [pictureId]="picture.id" 
      [initialCount]="getLikesCount(picture)" 
      [likes]="picture.likes">
    </app-like-button>
  </mat-card-actions>
</mat-card>


<div class="comments">
  <h3>Commentaires</h3>

  <div *ngFor="let c of comments()">
    <mat-card class="comment-card">
      <mat-card-header>
        <mat-card-title>{{ c.author?.displayName || 'Utilisateur' }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ c.content }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="comment-form">
    <mat-form-field class="full-width">
      <mat-label>Votre commentaire</mat-label>
      <textarea matInput [(ngModel)]="newComment" name="comment"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="postComment()">Envoyer</button>
  </mat-card>
</div>
